@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

:root {
  --main-text-color: #333;
  --main-bg-color: #dddddd;
  --main-bg-hover: #161616;

  --out-text-color: #333;
  --out-bg-color: #dddddd;
  --out-bg-hover: #161616;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
}

body {
  background: var(--main-bg-color);
}




.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: var(--out-text-color);
  color: var(--out-bg-color);
  padding: 0 5%;
}

.navbar * {
  text-decoration: none;
  color: var(--out-bg-color);
}

.navbar-left {
  display: flex;
  /* Der Navbar-Text Container wird in der Reihenfolge vor das Logo gesetzt */
  order: -1;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.navbar-left:hover {
  background-color: var(--out-bg-hover);
}

.navbar-right {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.navbar-right-text {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar-right-text-a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.navbar-right-text-a:hover {
  background-color: var(--out-bg-hover);
}

.navbar-logo {
  height: 75%;
  pointer-events: none;
}

.navbar-logo svg {
  height: 100%;
}

#icon {
  fill: var(--out-bg-color);
}

main {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.title {
  margin: 30px 0;
  text-align: center;
  width: 80%;
  font-size: 70px;
}

.Column-Img {
  height: 30vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0;
}

* {
}

#table {
  margin: 30px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: center;
  padding: 8px;
}

.Column-Img img {
  margin: 0 20px;
  height: 100%;
}

.Column-Button {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
  width: 80%;
  justify-content: space-around;
}

.Column-Button a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  text-decoration: none;
  width: 25%;
  height: 50px;
  border: none;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

p.datas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  text-decoration: none;
  width: 25%;
  height: 50px;
  border: none;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

.Column-Full {
  display: flexbox;
  width: 70%;
  margin: 30px 0;
}

.Column-Full h3 {
  text-align: center;
  font-size: 50px;
}

footer {
  width: 100%;
  background: var(--out-text-color);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  letter-spacing: 1px;
}

footer * {
  color: var(--out-bg-color);
}

@media only screen and (max-width: 800px) {
  .navbar-right-text {
    display: none;
  }

  .title {
    font-size: 40px;
  }

  .Column-Img {
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: center;
  }
  .Column-Img img {
    margin: 30px 0;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Column-Button {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
  }

  .Column-Button a {
    width: auto;
    height: 50px;
    border: none;
    margin: 10px 0;
  }

  p.datas {
    width: auto;
    height: 50px;
    border: none;
    margin: 10px 0;
    width: 100%;
  }

  .Column-Full h3 {
    font-size: 25px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  
}
